<!-- include header by using partials -->
<%- include('../partials/header') %> 
<!-- include nav by using partials as like component -->
<%- include('../partials/nav') %>

<div class="hero">
    <h1>Welcome to Airbnb</h1>
    <p>Book unique places to stay and experience the world.</p>
</div>
<div id="homes-section">
    <h2>Available Homes</h2>
    <div class="home-list">
        <% registeredHomes.forEach((home) => { %>
            <div class="home-card">
                <img src="<%= home.imageUrl %>" alt="Home Image">
                <h3><%= home.title %></h3>
               <p>Location: <%= home.location %></p>
                <p class="price">Price per night: $<%= home.price %></p>
                <button class="book-btn" style="background-color: rgb(48, 233, 48);">Edit</button>
                <button class="book-btn" style="background-color: rgb(233, 71, 71);">Delete</button>
            </div>
        <% }); %>
    </div> 
</div>
</body> 
</html>
