<!-- include header by using partials -->
<%- include('../partials/header') %> 
<!-- include nav by using partials as like component -->
<%- include('../partials/nav') %>


<div id="homes-section">
    <h2>Favourites Home</h2>
    <div class="home-list">
        <% favouriteHomes.forEach((home) => { %>
            <div class="home-card">
                <img src="<%= home.imageUrl %>" alt="Home Image">
                <h3><%= home.title %></h3>
                <p>Location: <%= home.location %></p>
                <p class="price">Price per night: $<%= home.price %></p>
                <button class="book-btn remove_btn">Remove</button>
            </div>
        <% }); %>
    </div> 
</div>
</body> 
</html>
